<div class="container">
    <form (ngSubmit)="confirmarActualizacion(cliente.Id)" #clienteForm="ngForm">
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" id="Nombre" [(ngModel)]="cliente.Nombre" required
                pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]+">
        </div>
        <div class="mb-3">
            <label for="Apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" name="Apellido" id="Apellido" [(ngModel)]="cliente.Apellido"
                required pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]+">
        </div>
        <div class="mb-3">
            <label for="Cedula" class="form-label">Cedula</label>
            <input type="text" class="form-control" name="Cedula" id="Cedula" [(ngModel)]="cliente.Cedula" required
                pattern="^(?!0+$)\d{10}$">
        </div>
        <div class="mb-3">
            <label for="Telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" name="Telefono" id="Telefono" [(ngModel)]="cliente.Telefono"
                required pattern="^(?!0+$)09\d{8}$">
        </div>
        <div *ngIf="clienteForm.invalid" class="alert alert-warning" role="alert">
            Por favor, complete los campos correctamente antes de guardar.
        </div>
        <button type="submit" class="guardarCliente">Actualizar</button>
        
        
    </form>
</div>