<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form (ngSubmit)="guardarCliente()" #clienteForm="ngForm">
            <div class="mb-3">
                <label for="Nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="Nombre" id="Nombre" [(ngModel)]="clientes.Nombre" required
                    pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]+">

            </div>
            <div class="mb-3">
                <label for="Apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="Apellido" id="Apellido" [(ngModel)]="clientes.Apellido"
                    required pattern="[a-zA-ZáéíóúÁÉÍÓÚ\s]+">

            </div>
            <div class="mb-3">
                <label for="Cedula" class="form-label">Cedula</label>
                <input type="text" class="form-control" name="Cedula" id="Cedula" [(ngModel)]="clientes.Cedula" required
                    pattern="^[0-9]{10}$">

            </div>
            <div class="mb-3">
                <label for="Telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" name="Telefono" id="Telefono" [(ngModel)]="clientes.Telefono"
                    required pattern="^09[0-9]{8}$">

            </div>
            <div *ngIf="clienteForm.invalid" class="alert alert-warning" role="alert">
                Por favor, complete los campos correctamente antes de guardar.
            </div>
            <button type="submit" class="guardarCliente">Actualizar</button>
        </form>
    </div>

</body>

</html>