/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}


.main-content {
    margin-top: 20px;
}


.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #007bff;
}

.nav-links a:hover {
    text-decoration: underline;
}